.Card{
  border: 2px solid black;
  width: 320px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #FDF4DC;
  text-align: center;
  box-shadow: 1px 2px 2px black;
  margin-bottom: 50px;
}
.cardContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap:50px
}

.Card .cardImage{
  border-radius: 150px;
  margin-bottom: 15px;
  filter:drop-shadow(4px 4px 2px black);
}

.Card .cardHeader{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.Card .cardDescription{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  text-indent: 20px;
}
#imageChanger{
  background-color: #2196F3;
  color: white;
  padding: 30px;
  font-size: large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: ease-in-out 0.3s;
}
#imageChanger:hover{
  background-color: #126fba;
  cursor: pointer;
}
.imageChangerContainer{
  justify-content: center;
  display: flex;

}
@media (max-width:480px){
  body{
    background-color: black;
    margin: 0px;
  }
  .Card .cardImage{
    width: 100px;
    align-self: center;
  }
  .Card{
    margin-bottom: 5px;
    padding: 5px;
  }
  .Card .cardDescription{
    font-size: small;
  }
  .Card .cardHeader{
    font-size: medium;
  }
  .cardContainer{
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
  }
}