.Card{
  border: 2px solid black;
  width: 320px;
  padding: 50px;
  display: inline-block;
  border-radius: 20px;
  background-color: #FDF4DC;
  margin: 10px;
  text-align: center;
  box-shadow: 1px 2px 2px black;
}
.Card .cardImage{
  max-width: 60%;
  height: 200px;
  border-radius: 150px;
  margin-bottom: 15px;
  filter:drop-shadow(4px 4px 2px black);
}

.Card .cardHeader{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.Card .cardDescription{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  text-indent: 20px;
}
#imageChanger{
  background-color: #2196F3;
  color: white;
  padding: 30px;
  font-size: large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: ease-in-out 0.3s;
}
#imageChanger:hover{
  background-color: #126fba;
  cursor: pointer;
}
.imageChangerContainer{
  justify-content: center;
  display: flex;

}
@media (max-width:480px){
  body{
    background-color: black;
    margin: 0px;
  }
  .Card{
    width: 100%;
    overflow: hidden;
  }
  .Card .cardDescription{
    font-size: small;
  }
  .Card .cardHeader{
    font-size: medium;
  }
  .Card .cardImage{
    height: 100px;
  }
  #root{
    margin: 0px;
  }
}